.HomePage {
  padding: 10px;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 20%);
  padding-bottom: 80px ;
  margin: 40px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.HomePage > input {
  align-self: center;
  width: 70%;
  background-color: whitesmoke;
  border-radius: 30px;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 20%);
  border: none;
  font-size: 40px;
  padding: 20px 30px;
  margin: 20px 0px;
  transition: all 0.5s ease-out;
}

.HomePage > input:focus {
  outline: none;
  width: 80%;
  transition: all 0.5s ease-out;
  box-shadow: 0px 0px 10px 10px rgb(0 0 0 / 20%);
  background-color: rgba(200, 214, 209, 0.897)
}

.HomePage > input:focus::placeholder {
  color: transparent;
}

.HomePageTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0px 20px;
}

.HomePageTitle > h2 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.HomePageTitle > button {
  font-weight: bold;
  font-size: 40px;
  background-color: rgb(192, 223, 238);
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 20%);
  border: none;
  padding: 20px;
  border-radius: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  width: 20%;  
}

.HomePageTitle > button:nth-child(3) {
  background-color:  rgb(233, 175, 175);
  width: 20%;
}

.HomePageTitle > button:hover {
  color: white;
  background-color: rgb(88, 88, 214);
  box-shadow: 0px 0px 10px 10px rgb(0 0 0 / 20%);
  transition: all 0.5s ease-out;
}

.HomePageTitle > button:nth-child(3):hover {
  color: white;
  background-color: rgb(241, 93, 93);
  box-shadow: 0px 0px 10px 10px rgb(0 0 0 / 20%);
  transition: all 0.5s ease-out;
}

.DrinkContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}

.DrinkItem {
  padding-bottom: 20px;
  display: flex;
  width: 32%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 20%);
  border-radius: 20px;
  margin: 5px;
}

.DrinkItem:hover {
  background-color: rgba(238, 227, 227, 0.815);
  box-shadow: 0px 0px 10px 10px rgb(0 0 0 / 20%);
  transition: all 0.5s ease-out;
}

.DrinkItem > p {
  letter-spacing: 3px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.DrinkItem > img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.DrinkItem > button {
  margin: 10px 0px;
  font-weight: bold;
  font-size: 25px;
  background-color: hsla(0, 22%, 93%, 0.863);
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 20%);
  border: none;
  padding: 10px;
  border-radius: 10px;
  letter-spacing: 5px;
  text-transform: uppercase; 
}

.DrinkItem > button:hover {
  background-color: hsla(49, 90%, 53%, 0.863);
  box-shadow: 0px 0px 10px 10px rgb(0 0 0 / 20%);
  transition: all 0.5s ease-out;
}

.DrinkItem > button:nth-child(4) {
  background-color: rgb(233, 175, 175);
}

.DrinkItem > button:nth-child(4):hover {
  background-color: rgb(235, 81, 81);
}

.DrinkItem > button:nth-child(4):focus {
  background-position: left bottom;
  transform: translateY(-10px);
  color: white;
  background: linear-gradient(to right,rgb(233, 175, 175) 50%, rgb(230, 66, 66) 50%);
  background-position: right bottom;
  transition: all 1.2s ease;
  background-size: 200% 100%;
}

.DrinkItem > button:nth-child(4):active {
  transform: translateY(5px);
  color: rgb(230, 231, 148);
}

.Warning {
  display: flex;
  font-size: 40px;
  letter-spacing: 2px;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 10px;
  width: 60%;
  border-radius: 40px;
  color: white;
  background-color: rgb(245, 83, 83);
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 20%);
}




